.form {
	text-align: right;
}

.form button {
	font: inherit;
	cursor: pointer;
	background-color: #1f0f75;
	border: 1px solid #4f51a8;
	color: white;
	padding: 0.25rem 2rem;
	border-radius: 20px;
	font-weight: bold;
}

.form button:hover,
.form button:active {
	background-color: #7891e0;
	border-color: #899cdb;
}
