.button {
	cursor: pointer;
	font: inherit;
	border: none;
	background-color: #7ab4e4;
	color: rgb(24, 24, 61);
	padding: 0.75rem 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 25px;
	font-weight: bold;
}

.button:hover,
.button:active {
	background-color: #6288b6;
}

.icon {
	width: 1.35rem;
	height: 1.35rem;
	margin-right: 0.5rem;
}

.badge {
	background-color: #8e92c9;
	padding: 0.25rem 1rem;
	border-radius: 25px;
	margin-left: 1rem;
	margin-right: 5rem;
	font-weight: bold;
}

.badgeTwo {
	background-color: #9294b1;
	padding: 0.25rem 1rem;
	border-radius: 25px;
	margin-left: 1rem;
	margin-right: 5rem;
	font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
	background-color: #706ec4;
}

.bump {
	animation: bump 300ms ease-out;
}

@keyframes bump {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}
